body {
    font-family: Arial, sans-serif;
    padding: 100px;
}

.btn {
    background-color: #007bff;
    padding: 8px 12px;
    font-size: inherit;
    color:white;
    margin: 5px;
    background-color:#007bff;
    border-radius: 5px;
    border: solid 1px #007bff;
}

.wrapper {
    border: 1px solid rgb(180, 174, 174);
    margin-top: 15px;
    width: 350px;
    padding: 20px;
    border-radius: 3px;
    line-height: 1.5;
}

.field {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.field.expanded {
    max-height: 500px;
}
